
{% extends 'base.html' %}
{% load static %}
{%load crispy_forms_tags %} 

{% block title %}Leave - Edit{% endblock title %}
{% block description %}This page provides form to edit existing leave{% endblock description %}
{% block canonical %}{{request.path}}{% endblock canonical %}

{% block content %}


<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="col">
            <a class="btn d-inline-block" href="{% url 'leave-list'%}"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg></a>
        </div>
      <div class="col">
          <h1 class="font-weight-light">Edit Leave</h1>
      </div>
      <div class="col"></div>
    </div>
    
    
    <hr>
</div>
<div class="container">
    <div class="p-5 mb-4 bg-light ">
    <div class="row justify-content-center">

          
        
        <div class="col-8">

            
        <form action="" method="POST" >
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
        
        </div>
    </div> 
</div>
</div>






{% endblock content %}
