
{% extends 'base.html' %}
{% load static %}
{%load crispy_forms_tags %}
{% block title %}Leave{% endblock title %}
{% block description %}This page provides the list of all leaves{% endblock description %}
{% block canonical %}{{request.path}}{% endblock canonical %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="col">
            <a class="btn d-inline-block" href="{% url 'home'%}"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg></a>
        </div>
      <div class="col">
          <h1 class="font-weight-light">Leave List</h1>
      </div>
      <div class="col text-right">
          <a class="btn btn-primary" href="{% url 'leave-add'%}">Add New Leave</a>
      </div>
    </div>    
    <hr>
</div>
<div class="container bg-light  rounded">
    <div class="p-3">

    
    <form action="" method="GET">
        <div class="row align-items-center justify-content-center">
            
            <div class="col-10 ">
                <div class="row justify-content-between">
                    {{leave_filter.form | crispy}}
                </div>
            </div>
            <div class="col-2 text-center">
            <input class="btn btn-dark" type="submit" value="Filter">
            </div>
        </div>
        
    </form>
</div>
</div>
<div class="container pt-5">
{% if leave_list %}
    <div class="row">
        <div class="card w-100 ">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <b>Leave Date</b>
                    </div>
                    <div class="col-1">
                        <b>ID</b>
                    </div>
                    <div class="col-4">
                        <b>Employee</b>
                    </div>
                    <div class="col-3">
                        <b>Leave Type</b>
                    </div>
                    <div class="col-2">
                        <b>Option</b>
                    </div>
                    
                </div>
                
            </div>
        </div>
{% for leave in leave_list %}
        {% for profile in profile_list %}
        {% if leave.profile == profile.id %}
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <b>{{leave.leave_date}} </b>
                    </div>
                    <div class="col-1">
                        <span class="muted">#{{leave.profile}}</span>
                    </div>
                    <div class="col-4">
                         <span class="font-weight-bold">
                            {{profile.name}} 
                        </span>
                    </div>
                    <div class="col-3">
                        <span class="muted">{{leave.leave_type}}</span>
                    </div>
                    <div class="col-2">
                        
                        <a class="btn btn-warning btn-sm" href="{% url 'leave-edit' leave.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'leave-delete' leave.id %}">Delete</a>
                    </div>
                        
                        
                    </div>
                </div>
                
            </div>
        
        {% endif %}
        
    {% endfor %}        
  {% endfor %}
</div>
      
  {% else %}
  <p>No Leaves are loaded.</p>
</div>
  {% endif %}

</div>

    
        

{% endblock content %}