{% extends 'base.html' %}
{% load static %}

{% block title %}Profile Detail{% endblock title %}
{% block description %}This is where profile detail is displayed{% endblock description %}
{% block canonical %}{{request.path}}{% endblock canonical %}

{% block content %}


<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="col">
            <a class="btn d-inline-block" href="{% url 'profile-list'%}"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg></a>
        </div> 
      <div class="col">
          <h1 class="font-weight-light d-inline-block ">View Employee</h1>
      </div>
      
      <div class="col text-right">
        <a class="btn btn-warning" href="{% url 'profile-edit' profile_detail.id %}">Edit</a>
      </div>
    </div>
    
    
    <hr>


        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="leave-tab" data-toggle="tab" href="#leave" role="tab" aria-controls="leave" aria-selected="false">Leaves</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="family-tab" data-toggle="tab" href="#family" role="tab" aria-controls="family" aria-selected="false">Family</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
                
                    <div class="p-5 mb-4 bg-light ">
                <div class="row">       
                    <div class="col-3">
                        <img class=" img-fluid rounded" src="{{profile_detail.photo}}" alt="">
                    </div>
                    
                    <div class="col-8">
                        <dl class="row">
                            <dt class="col-3">Employee Code</dt>
                            <dd class="col-9">#{{profile_detail.id}}</dd>
                            <dt class="col-3">Employee Name</dt>
                            <dd class="col-9">{{profile_detail.name}}</dd>
                            <dt class="col-3">Date Of Birth</dt>
                            <dd class="col-9">{{profile_detail.date_of_birth}}</dd>
                            <dt class="col-3">Address</dt>
                            <dd class="col-9">{{profile_detail.address}}</dd>
                            <dt class="col-3">Phone Number</dt>
                            <dd class="col-9">{{profile_detail.phone_number}}</dd>
                            <dt class="col-3">Email Id</dt>
                            <dd class="col-9">{{profile_detail.email_id}}</dd>
                            <dt class="col-3">Salary</dt>
                            <dd class="col-9">₹{{profile_detail.salary}}</dd>
                            
                            
                            
                        </dl>
            
                        
                    </div>
                </div>
            </div>
            
            </div>
            <div class="tab-pane fade" id="leave" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container pt-5">
                    {% if leave_detail %}
                        
                    
                    <div class="row">
                        <div class="card w-100 ">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <b>Date</b>
                                    </div>
                                    <div class="col-1">
                                        <b>ID</b>
                                    </div>
                                    <div class="col-5">
                                        <b>Employee</b>
                                    </div>
                                    <div class="col-4">
                                        <b>Leave Type</b>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                {% for leave in leave_detail %}
                            
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <b>{{leave.leave_date}} </b>
                                    </div>
                                    <div class="col-1">
                                        <span class="muted">#{{leave.name}}</span>
                                    </div>
                                    <div class="col-5">
                                         <span class="font-weight-bold">
                                            {{profile_detail.name}} 
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <span class="muted">{{leave.leave_type}}</span>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>

                    </div>
                        
                  {% endfor %}
                  {% else %}
  <p>No Leaves are loaded.</p>
  {% endif %}
  <a class="btn btn-primary" href="{% url 'leave-add' %}">Add Leave</a>
</div>
                </div>
                
            <div class="tab-pane fade" id="family" role="tabpanel" aria-labelledby="contact-tab">
                <div class="bg-light rounded p-5">
                    {% if family_detail %}
                
                {% for family in family_detail %}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <p class="col-9 h5">{{family.name}}</p>
                             
                        </div>
                        <hr>
                        <dl class="row">
                            <dt class="col-3">Relationship</dt>
                            <dd class="col-9">{{family.relationship}}</dd>
                            <dt class="col-3">Date Of Birth</dt>
                            <dd class="col-9">{{family.date_of_birth}}</dd>
                            <dt class="col-3">Phone Number</dt>
                            <dd class="col-9">{{family.phone_number}}</dd>
                            <dt class="col-3">Email Id</dt>
                            <dd class="col-9">{{family.email_id}}</dd>                                     
                        </dl>
                    </div>
                </div>
                
                  
                    
                {% endfor %}
                {% else %}
                <p>No Family Info has been loaded.</p>
  {% endif %}
  <a class="btn btn-info" href="{% url 'profile-edit' profile_detail.id %}#family">Add Family Member</a>
            </div>
            </div>
        
        
        </div>
        </div>





{% endblock content %}